*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* nab bar style starts here  */
.menu-container{
    background-color: black;
    padding: 20px;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.logo-photo{
    width: 150px;
    border: 2px solid red;
    
}
.menus{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    
}
.menus li a:hover{
    color: blue;
}

.menus li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;

    margin: 0px 10px;
}
/* nab bar style ends here  */
/* =================================================================================== */
/* banner style starts here  */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100vh;
    background-image: url("../images/background.png"), linear-gradient(45deg, rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0.74));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    color: white;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin: 15px 0px;
}
.btn{
    padding: 10px 20px;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.btn a{
    text-decoration: none;
    color:white;

}
.btn:hover{
    background-color: red;
}
.banner-img{
    width: 300px;
}
/* banner style ends here  */
/* ============================================================================================== */
/* abour section style starts here  */
.about-title{
    text-align: center;
    padding: 20px 0px 0px;
    text-shadow: 4px 4px 3px gray;
}
.about-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    
    padding: 15px 0px 0px;
    height: 60vh;
}

/* abour section style ends here  */