*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* nab bar style starts here  */
.menu-container{
    background-color: black;
    padding: 20px;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.logo-photo{
    width: 150px;
    
}
.menus{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    
}
.menus li a:hover{
    color: blue;
}

.menus li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;

    margin: 0px 10px;
}
/* nab bar style ends here  */
/* =================================================================================== */
/* banner style starts here  */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100vh;
    background-image: url("../images/background.png"), linear-gradient(45deg, rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0.74));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    color: white;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin: 15px 0px;
}
.btn{
    padding: 10px 20px;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.btn a{
    text-decoration: none;
    color:white;

}
.btn:hover{
    background-color: red;
}
.banner-img{
    width: 300px;
}
/* banner style ends here  */
/* ============================================================================================== */
/* abour section style starts here  */
.about-title{
    text-align: center;
    padding: 20px 0px 0px;
    text-shadow: 4px 4px 3px gray;
}
.about-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    
    padding: 15px 0px 0px;
    height: 60vh;
}

/* abour section style ends here  */
/* ============================================================================================== */

/* our service section style starts here  */
.our-service-section{
    background-image: url("../images/background.png"),linear-gradient(45deg, rgba(0, 0, 0, 0.925), rgba(0, 0, 0, 0.863));
    color: white;
    height: 80vh;

    
}

.box-container{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.box{
    width: 250px;
    height: 400px;
    background-color: rgb(2, 2, 2);
    padding: 20px;
    color: white;
    text-align: center;

    box-shadow: 8px 6px 10px gray;
    border-radius: 10px;

}
.icon{
    width: 100px;
    padding: 20px 0px;
    border: 2px solid white;
}
.box-title{
    padding-top: 20px;
}
.description-wrap{
    text-wrap: wrap;
}

/* our service section style ends here  */
/* ============================================================================================== */
/* footer section style starts here */
.footer-section{
    background-color: black;
    color: white;
}
.footer-section hr{
    width: 60vw;
    margin: 0 auto;
}
.footer-section p:last-child{
    text-align: center;
    padding: 20px;
}
.footer-container{
       display: flex;
    justify-content: space-evenly;
    align-items: start;
    
    padding: 50px 0px;

}
.footer-container div{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-container div h3{
    margin-bottom: 20px;
}
.footer-container div p a{
    text-decoration: none;
    color: white;
}


/* footer section style ends here */